.book_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.info_box {
  font-family: arial;
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  padding-top: 1.5vh;
}
