[Unit]
Description= {{ app_name }} back end service
After = networking.service

[Service]
ExecStart=/usr/bin/python3 {{ backend_api_module }}
Restart=always
User={{ backend_user }}
WorkingDirectory={{ backend_app_path }}

[Install]
WantedBy=multi-user.target
