server {

    server_name whitmanbooksonline.com;
    rewrite ^/(.*)$ http://{{ frontend_server }}/$1 permanent;

}

server {
	listen 80 default_server;
	listen [::]:80 default_server;
	server_name {{ frontend_server }};
	return 301 https://$host$request_uri;
}

server {
	listen	443 ssl;
	server_name {{ frontend_server }};

	location / {
	proxy_pass http://{{ frontend_host }}:{{ frontend_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
	client_max_body_size 0;
	}

    ssl_certificate {{ ssl_certificate }};
    ssl_certificate_key {{ ssl_certificate_key }};
}
